[Unit]
Description=Template Service
After=network.target

[Service]
#Uncomment and replace to run as a specific user/group
#User=USERNAME
#Group=GROUPNAME

WorkingDirectory=PATH-TO-PROJECT
ExecStart=PATH-TO-PROJECT/bin/start_network.sh

Restart=always

[Install]
WantedBy=multi-user.target
